*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* img {
  width: 100%;
} */

.mem-discription {
  color: #71ABFF;
  font-size: 2vmin;
}

input {
  display: none;
}

.nav-btn {
  width: 2vw;
  height: 2vw;
  border: #71ABFF solid 0.3vw;
  border-radius: 20%;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.nav-btn:hover {
  background: #fff;
  border-color: #fff;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #25282A;
}

.slider-wrap {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  width: 85vw;
  overflow: hidden;
}

.img-wrap {
  display: flex;
  width: 500%;
}

.controls-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  gap: 1vw;
}

.mem-text-container {
  width: 100%;
  overflow: hidden;
}

.mem-text-wrap {
  display: flex;
  width: 500%;
}

.slide-text {
  width: 100%;
}